<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lucida Console", Courier, monospace;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

h2 {
  text-align: center;
  position: relative;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 36%;
  height: 36%;
  float: right;
  font-size: 125%;
  right: -15px;
}

.container {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: lightgray;
  position: relative;
  top: 60px;
  height: auto;
  width: auto;
  border: 2px solid black;
}

p {
  background-color: lightgray;
  height: 1600px;
  margin-top: 36px;
  margin-right: 20px;
  margin-left: 20px;
  color: black;
  overflow: auto;
  width: 90%;
}

.chicken{
  background-color: pink;
}

.sushi {
  background-color: yellow;
}

.beef {
  background-color: red;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}


/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  float: left;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 0px solid #61122f;
}
.navbar-header button.navbar-toggle {
  margin-top: 26px;
}
/* END HEADER */




/********** Medium devices only **********/
@media (min-width: 992px) {
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Medium devices only **********/
@media (max-width: 767px) {
  .navbar-brand {
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
}


</style>

